{
  "bol_client_id":      "YOUR_BOL_CLIENT_ID",
  "bol_client_secret":  "YOUR_BOL_CLIENT_SECRET",

  "amz_client_id":     "amzn1.application-oa2-client.XXXXX",
  "amz_client_secret": "amzn1.oa2-cs.v1.XXXXX",
  "amz_refresh_token": "Atzr|XXXXX"
}
